@page "/afterMatch"

<h1>After Match View</h1>

<form>
    <div class="row">
        <div class="col-2">
            <label class="form-label">Host Team</label>
            <input type="string" class="form-control">
        </div>

        <div class="col-2">
            <label class="form-label">Guest Team</label>
            <input type="string" class="form-control">
        </div>

        <div class="col-2">
            <label class="form-label">Results</label>
            <input type="string" class="form-control">
        </div>
    </div>
    <button type="button" class="btn btn-success col-12 my-4">Update Statistics</button>
</form>
<table class="table">
    <thead>
        <tr>
            <td>HostTeam</td>
            <td>GuestTeam</td>
            <td>Results</td>
        </tr>
    </thead>
</table>