@page "/afterMatch"
@using Data

<h1>Ater Match View</h1>

<form>
    <div class="row">
        <div class="col-2">
            <label class="form-label">MatchId</label>
            <input type="number" class="form-control">
        </div>

        <div class="col-2">
            <label class="form-label">HostTeam</label>
            <input type="string" class="form-control">
        </div>

        <div class="col-2">
            <label class="form-label">GuestTeam</label>
            <input type="string" class="form-control">
        </div>

        <div class="col-2">
            <label class="form-label">FinalResult</label>
            <input type="string" class="form-control">
        </div>
    </div>
    <button type="button" class="btn btn-success col-12 my-3">Update Results</button>
</form>

<table class="table">
    <thead>
        <tr>
            <td>MatchId</td>
            <td>HostTeam</td>
            <td>GuestTeam</td>
            <td>FinalResult</td>
        </tr>
    </thead>
</table>
