@page "/players"
Using Data
@rendermode @(new InteractiveServerRenderMode(prerender:false))
@inject PlayerServices playerservices

<h1>PLayer View Page</h1>
<form>
    <div class="row">
        <div class="col-3">
            <label class="form-label">Player Id</label>
            <input type="number" class="form-control" @bind=newReferee.RefereeId>
        </div>

        <div class="col-3">
            <label class="form-label">Player Name</label>
            <input type="string" class="form-control" @bind=newReferee.RefereeName>
        </div>

        <div class="col-3">
            <label class="form-label">Date Of Birth</label>
            <input type="date" class="form-control" @bind=newReferee.DateOfBirth>
        </div>

        <div class="col-3">
            <label class="form-label">Years Of Experience</label>
            <input type="number" class="form-control" @bind=newReferee.YearsOfExperience>
        </div>
    </div>
    <button type="button" class="btn btn-success col-12 my-2" @onclick="AddReferee">Add Referee</button>
</form>