@page "/"

<PageTitle>Home</PageTitle>

<div style="background-color: rgb(24, 75, 8); d-flex justify-content-center align-item-center m-3 rounded-5">
    <h1 style="font-color: white;">Football Association Of Zambia - FAZ</h1>
</div>
<hr>
<div style="background-color: rgb(233, 97, 6)">
    The Football Association Of Zambia - FAZ Information System
</div>

